body{
    margin: 0px;
    padding: 0px;
    background-color: black !important;
}
.navbar-toggler-icon {
    Color: #fff;
}
.h2-color{
    color: #fff;
}
.chile1{
    color: #fff;
}
.card-text{
    color: #fff;
}
.form-label{
    color: #fff;
}

.iconos-div{
    margin: 10px 0px 10px 0px;
    background-color: rgb(2, 209, 209);
}
.card-img-top img{
    border: solid 1px black;
}
.card-destacados{
    background-color: rgb(2, 209, 209);

}
footer{
    background-color:rgb(2, 209, 209);
    color: #fff;
    padding-left: 200PX;
    padding-right: 200px;
    padding-top: 10px;
}



@media only screen and (max-width: 768px) {
    /* Estilos específicos para la vista de celular */
.conteiner-chile1{
    display: none;
}

  }
